<div class="row">
    <button type="button" class="btn btn-primary experiencia-submit" routerLink="/editacercade/1" *ngIf="isLogged">Editar Persona</button>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src={{persona.img}} alt="Foto" class="img-fluid" id="fotodePerfil">
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre" id="color_verde">{{persona.nombre}} {{persona.apellido}}</p>
    <p id="info-stack" id="letraBlancoOscuro"class="color-letra">Full Stack Developer Jr</p>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1 id="color_verde">Acerca de Mi</h1>
        <p id="letraBlancoOscuro">{{persona.descripcion}}</p>
    </span>
</div>
</div>



