<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <p class="login-text">
                    <span class="fa-stack fa-lg">
                        <p class="login-text">

                            <span class="fa-stack fa-lg">
                                <i class="bi bi-building-add"></i>
                                



                            </span>
                        </p>

                    </span>
                </p>
                <div class="form-group">
                    <label for="nombre" id="color_verde">Nueva Skill</label>
                    <input type="text" class="nombre form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
                </div>
                <div class="form-group">
                    <label for="porcentaje" id="color_verde">Porcentaje</label>
                    <input type="text" class="descripcion form-control" id="porcentaje" name="porcentaje" [(ngModel)]="porcentaje" required>
                </div>
                <button class="btn btn-success experiencia-submit">
                    Agregar skill
                </button>
            </form>
        </div>
    </div>
    <div class="underlay-black"></div>
</div>